[Unit]
Description=kanshi (dynamic display manager)
PartOf=graphical-session.target

[Service]
Type=simple
ExecStart=/usr/bin/kanshi

[Install]
WantedBy=sway-session.target

